.cardButton {
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black inset;
}

.modal-body {
    background-color: rgb(231, 231, 231);
}

.modal-header {
    background-color: rgb(231, 231, 231);
}

.card-body-style {
    margin-top: 2.5rem;
}

.card-img-top {
    height: 10rem;
    /* width: 10rem; */
}

.card-order:hover {
    background-color: rgb(255, 238, 0);
    text-decoration: underline;
    cursor: pointer;
}

.card-ordered:hover {
    background-color: rgb(91, 248, 99);
    text-decoration: underline;
    cursor: pointer;
}

.card-order {
    background-color: rgb(241, 247, 210);
}

.card-ordered {
    background-color: rgb(206, 245, 208);
}

.material-icons {
    cursor: pointer;
}

.modal-body {
    margin: top 0;
    padding-top: 0;
}