<!-- สั่งอาหาร -->

<div class="row">
    <div class="col-9">
        <div class="row mt-3 mb-3 ml-0 mr-0">
            <div class="form-inline ">
                <button type="button" class="btn btn-outline-secondary mr-2">เพิ่มสำเร็จ</button>
                <button type="button" class="btn btn-outline-secondary mr-2">เพิ่มสำเร็จ</button>
                <button type="button" class="btn btn-outline-secondary mr-2">เพิ่มสำเร็จ</button>
                <button type="button" class="btn btn-outline-secondary mr-2">เพิ่มสำเร็จ</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class=" row row-cols-1 row-cols-md-5">
                    <div class="col" *ngFor="let data of showFood">
                        <div class="card h-30">
                            <img [src]="showImages(data.imgPath)" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h3 class="card-title">{{data.name}}</h3>
                                <h3 class="card-title">ราคา: {{data.price}} บาท</h3>
                                <button *ngIf="checkArrayFood(data.food_id) == false" type="button" class="btn btn-secondary" (click)="addFoodToArray(data.food_id)">เลือกเมนูอาหาร</button>
                                <button *ngIf="checkArrayFood(data.food_id) == true" type="button" class="btn btn-success mr-2 material-icons" [disabled]="true">เพิ่มสำเร็จ check</button>
                                <button *ngIf="checkArrayFood(data.food_id) == true" type="button" class="btn btn-secondary" (click)="addFoodAmount(data.food_id)">สั่งเพิ่ม</button>
                                <!-- <button type="button" class="btn btn-danger" (click)="addFoodToArray(data.food_id)">เอาออกจากตะกร้า</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card card-food">
            <div class="row">
                <div class="col">
                    <span class="text-food cursor-pointer">A100</span>
                </div>
                <div class="col-6">
                    <span class="text-food cursor-pointer">สั่งกลับบ้าน</span>
                </div>
                <div class="col float-right">
                    <span class="text-food cursor-pointer">ลบบิล</span>
                </div>
            </div>
        </div>
        <div class="card card-food card-order-food mb-2">
            <div class="text-food">รายการอาหาร</div>
            <div *ngFor="let data of arrayFood ; let i = index">
                <div class="row row-order">
                    <div class="col">
                        <span class="text-food">{{i+1}}. </span>
                        <span class="text-food">{{data.name}} </span>
                        <span class="text-food">x{{data.amount}}</span>
                    </div>
                    <div class="col">
                        <span class="text-food float-right">{{data.price}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pr-1">
                <button type="button" class="btn btn-warning order pr-0">โปรโมชั่น</button>
            </div>
            <div class="col pl-1">
                <button type="button" class="btn btn-success order pl-0">สั่งอาหาร</button>
            </div>
        </div>
    </div>
</div>

<!-- รายละเอียดการสั่งอาหาร -->
<div class="modal fade" id="orderFoodDetail" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable Bg-Modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" #closebuttonBackOrder class="close" hidden="true" data-dismiss="modal">&times;</button>
                <h2 class="modal-title mt-2">กรอกรายละเอียด</h2>
            </div>
            <div class="modal-body mt-2" *ngIf="arrayFood != null || undefined">
                <form [formGroup]="formCreateOrder">
                    <div class="form-inline">
                        <div class="form-group" *ngIf="formCreateOrder.value.typeOrder == 'onsite'">
                            <label>โต๊ะที่:</label>
                            <input type="text" class="form-control w-130px mr-2 ml-2" formControlName="table_NO" placeholder="หมายเลขโต๊ะ">
                        </div>
                        <div class="form-group" *ngIf="formCreateOrder.value.typeOrder == 'onsite'">
                            <label>จำนวนคน: </label>
                            <input type="number" class="form-control w-130px mr-2 ml-2" formControlName="number" placeholder="จำนวนคน">
                        </div>
                        <div class="form-group">
                            <label>ประเภทการสั่ง:</label>
                            <select class="form-control w-130px mr-2 ml-2" formControlName="typeOrder" [ngClass]="{'is-invalid': submitCreate && formValidCreateOrder.typeOrder.errors}">
                            <option [disabled]="true" selected>เลือกประเภทการสั่ง</option>
                            <option value="onsite">ทานที่ร้าน</option>
                            <option value="home">สั่งกลับบ้าน</option>
                            <option value="delivery">เดลิเวอรี่</option>
                        </select>
                        </div>
                    </div>
                </form>
                <table class="table text-center mt-2">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับที่</th>
                            <th scope="col">รูปภาพ</th>
                            <th scope="col">ข้อมูลอาหาร</th>
                            <th scope="col">จำนวน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of arrayFood ; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <img [src]="showImages(data.imgPath)" class="card-img-topp" alt="...">
                            </td>
                            <td>
                                <div>
                                    <p>{{data.name}}</p>
                                    <p>ราคา: {{data.price}}</p>
                                    <p>ประเภท: {{data.type}}</p>
                                </div>
                            </td>
                            <td>{{data.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="closeModalBackOrder()" data-toggle="modal" data-target="#orderFood">กลับ</button>
                <button *ngIf="arrayFood.length > 0" type="submit" class="btn btn-success" (click)="createOrder()">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>



<!-- โชว์ข้อมูลรายการ -->
<div class="modal fade" id="modalShowDetail" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-2">รายการอาหารที่สั่ง</h2>
                <button type="button" #closebuttonShowDetail class="close" hidden="true" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="formOrderShowById.value.foodList.length > 0">
                        <tr *ngFor="let data of formOrderShowById.value.foodList">
                            <td>{{data.food_id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="closeModalShowDetail()" data-toggle="modal" data-target="#orderHistory">กลับ</button>
            </div>
        </div>
    </div>
</div>

<!-- โชว์ข้อมูลรายการของคำสั่งซื้อ -->
<div class="modal fade" id="modalShowOrderDetail" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-2">รายการอาหารที่สั่ง</h2>
                <button type="button" #closebuttonShowOrderDetail class="close" hidden="true" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="formOrderShowById.value.foodList.length > 0">
                        <tr *ngFor="let data of formOrderShowById.value.foodList">
                            <td>{{data.food_id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="closeModalShowOrderDetail()">กลับ</button>
            </div>
        </div>
    </div>
</div>