
.button-plust{
  margin-left: 10px;
    width: 30px;
    height: 30px;
    font-size: 2em;
    line-height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    background-color: rgb(146, 1, 1);
}
.btn-moldal{
    margin-left: 110px;

}
.button-del{

    width: 30px;
    height: 30px;
    font-size: 2em;
    line-height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    background-color: rgb(146, 1, 1);
}
.button-more{
    color: rgb(146, 1, 1);
    margin-left: 15px;
}
button:active{
    border-radius: 50%;
}
.input{
    border-radius: 10px;
    outline: none;
    border: none;
    width: 45px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(5, 5, 5);
    margin-left: 10px;
    background: transparent; 
}
.col span{
    font-weight: 800;
    font-size: 18px;
}
.card-img-top{
    width: 100;
}
