.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    flex-direction: row;
    min-height: 6rem;
}

.amountFood button {
    border-radius: 99rem; 
    color: white; 
    background-color: #ffc107;
    color: black;
    width: 2rem; 
    height: 2rem;
    padding: 0;
}