<!-- ถ้ามีรายการที่เลือก -->
<div class="" *ngIf="tableOrder?.foodList.length > 0" style="padding-bottom: 20vh;">
    <div class="row bg-warning" style="height: 3rem">
        <div class="" style="margin: auto;font-size: x-large;">รายการที่สั่ง</div>
    </div>
    <div class="col col-image p-0" *ngFor="let data of tableOrder.foodList">
        <div class="card h-60">
            <img [src]="showImages(data.imgPath)" width="100">
            <div class="food-details pl-3"
                style="width: 65%;display: flex;flex-direction: column;justify-content: space-around;">
                <h3 class="mb-0">{{data.name}} <span>x{{data.amount}}</span></h3>
                <p class="mb-0">ราคา: {{data.price}} บาท</p>
                <p class="mb-0">ราคารวม: {{data.price*data.amount}} บาท</p>
            </div>
            <div class="m-auto text-right pr-2" style="width: 40%;">
                <span *ngIf="data.status == 'wait'" style="background-color: red;border-radius: 5px;padding-inline: 7px;">
                    รอคิว
                </span>
                <span *ngIf="data.status == 'pending'" style="background-color: gold;border-radius: 5px;padding-inline: 7px;">
                    กำลังทำอาหาร
                </span>
                <span *ngIf="data.status == 'sending'" style="background-color: lightskyblue;border-radius: 5px;padding-inline: 7px;">
                    กำลังจัดเสิร์ฟ
                </span>
                <span *ngIf="data.status == 'success'" style="background-color: limegreen;border-radius: 5px;padding-inline: 7px;">
                    เสิร์ฟแล้ว
                </span>
            </div>
        </div>
    </div>
</div>
<!-- ถ้าไม่มีรายการที่เลือก -->
<div class="text-center" style="min-height: 10rem;" *ngIf="tableOrder?.foodList.length == 0">
    <div class="row bg-warning" style="height: 3rem">
        <div class="" style="margin: auto;font-size: x-large;">รายการที่เลือก</div>
    </div>
    <div class="mt-4">
        <span style="font-size: x-large;">ไม่มีรายการอาหารที่สั่ง</span>
    </div>
</div>

