<div class="" style="padding-bottom: 20vh;">
    <div class="row row-cols-1 row-cols-md-4" *ngIf="showPromotion != null || undefined">
        <div class="col col-image mb-4" *ngFor="let data of showPromotion">
            <div class="card shadow-sm h-60">
                <div class="card-body text-center">
                    <h3 class="card-title">รหัสโปรโมชั่น: {{data.promotion_id}}</h3>
                    <p class="card-text">ชื่อโปรโมชั่น: {{data.promotion_name}}</p>
                    <p class="card-text" *ngIf="data.type == 'bath'">ส่วนลด: {{data.value}} บาท</p>
                    <p class="card-text" *ngIf="data.type == 'percent'">ส่วนลด: {{data.value}} %</p>
                    <p class="card-text">รายละเอียด: {{data.detail}}</p>
                    <!-- <p class="card-text" *ngIf="data.status == true">สถานะ: เปิดใช้</p>
                    <p class="card-text" *ngIf="data.status == false">สถานะ: ปิดใช้งาน</p> -->
                </div>
            </div>
        </div>
    </div>
</div>