<div class="orders table-responsive text-center">
    <table class="table shadow-sm bg-white rounded">
        <thead>
            <tr>
                <th scope="col">รหัสออเดอร์</th>
                <th scope="col">จำนวนคน</th>
                <th scope="col">โต๊ะ</th>
                <th scope="col">ราคารวม</th>
                <th scope="col">สถานะ</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of formOrderShow | filter: 'waiting'">
                <td>{{data.order_id}}</td>
                <td>{{data.number}}</td>
                <td>{{data.table_NO}}</td>
                <td>{{data.priceTotal}}</td>
                <td *ngIf="data.status == 'waitingApprove'" style="color: rgb(241, 192, 31);">รอการยืนยัน</td>
                <td *ngIf="data.status == 'waitingFood'" style="color: rgb(8, 243, 8);">กำลังทำ</td>
                <td *ngIf="data.status == 'waitingPayment'" style="color: rgb(0, 4, 255);">รอการชำระ</td>
                <td class="pt-1">
                    <button class="btn btn-warning" type="button" *ngIf="data.status == 'waitingApprove'" (click)="changeStatusOrder(data.order_id,'approve')">ยืนยัน</button>
                    <button class="btn btn-danger" type="button" *ngIf="data.status == 'waitingApprove'" (click)="changeStatusOrder(data.order_id,'disapprove')">ยกเลิก</button>
                    <button class="btn btn-primary" type="button" *ngIf="data.status == 'waitingPayment'" (click)="changeStatusOrder(data.order_id,'paid')">ชำระเงิน</button>
                </td>
                <td>
                    <div class="material-icons cursor-pointer" (click)="getOrderById(data.order_id)" data-toggle="modal" data-target="#modalShowDetail1">description</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div class="modal fade" id="modalShowDetail1" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="height: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title mt-2">รายการอาหารที่สั่ง</h2>
                <button type="button" #closebuttonShowDetail1 class="close" hidden="true" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="formOrderShowById">
                        <tr *ngFor="let data of formOrderShowById.foodList">
                            <td>{{data.food_id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.amount}}</td>
                            <td *ngIf="data.status == 'pending'">กำลังทำอาหาร</td>
                            <td *ngIf="data.status == 'sending'">ทำอาหารเสร็จแล้ว</td>
                            <td *ngIf="data.status == 'success'">เสิร์ฟอาหารแล้ว</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>