<div class="container-lg">
    <div class="row bg-warning" style="height: 3rem">
        <div class="" style="margin: auto;font-size: x-large;">หมวดหมู่</div>
    </div>
    <div class="row mt-3">
        <div class="col-6 p-2">
            <img (click)="handleShowFood('', true)" src="https://www.scb.co.th/content/dam/scb/personal-banking/stories-tips/thai-food/thai-food10.jpg" height="100" style="width: 100%;border-top-left-radius: 0.25rem;border-top-right-radius: 0.25rem;">
            <div class="">
                <button type="button" class="btn btn-secondary p-1" style="width: 100%; font-size: 14px; border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;" (click)="handleShowFood('', true)">เมนูแนะนำ</button>
            </div>
        </div>
        <div class="col-6 p-2" *ngFor="let data of typeFoodAll">
            <img [src]="showImages(data.imgPath)" (click)="handleShowFood(data.id, false)" height="100" style="width: 100%;border-top-left-radius: 0.25rem;border-top-right-radius: 0.25rem;">
            <div class="">
                <button type="button"class="btn btn-secondary p-1" style="width: 100%; font-size: 14px; border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;"
                 (click)="handleShowFood(data.id, false)">{{data.name}}</button>
            </div>
        </div>
    </div>
</div>