.order-history {
    margin-top: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-header {
    text-align: center;
}

.modal-title {
    margin: auto;
}

.head {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.detailsPrice {
    display: flex;
    justify-content: space-between;
  }

  .promotion .cancel {
    position: absolute;
    font-size: x-large;
    right: 10px;
  }