.order-chef {
    margin-top: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.head {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.modal-header {
    text-align: center;
}

.modal-title {
    margin: auto;
}