<div class="" style="padding-bottom: 25vh;">
    <div class="row bg-warning" style="height: 3rem">
        <div class="" style="margin: auto;font-size: x-large;">ชำระเงิน</div>
    </div>
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <h2 class="text-center mt-4">โต๊ะ {{table}}</h2>
                <h4 class="text-center">วันที่ {{currentDate | date:'dd/MM/YYYY'}}    เวลา {{currentDate | date:'HH:mm:ss'}}</h4>
                <div class="text-center">
                    <table class="table" style="color: wheat;">
                        <thead>
                            <tr>
                                <th scope="col" class="text-left">รายการ</th>
                                <th scope="col" class="text-center">จำนวน</th>
                                <th scope="col" class="text-right">ราคา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of this.showBillFood">
                                <td class="text-left">{{data.name}}</td>
                                <td class="text-center">{{data.amount}}</td>
                                <td class="text-right">{{data.amount*data.price | currency:'':''}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="container-lg">
                        <!-- <hr style="border: 1px dashed black;" /> -->
                        <div class="detailsPrice">
                            <h3 class="">ภาษีมูลค่าเพิ่ม :</h3>
                            <h3 class="">0 บาท</h3>
                        </div>
                        <div class="detailsPrice">
                            <h3 class="">ส่วนลด :</h3>
                            <h3 class="">-{{valuePromotion | currency:'':''}} บาท</h3>
                        </div>
                        <div class="detailsPrice">
                            <h3 class="">ราคารวม :</h3>
                            <h3 class="">{{totalPrice - valuePromotion | currency:'':''}} บาท</h3>
                        </div>
                        <hr *ngIf="tableOrder?.status == 'waitingFood'" style="border: 1px dashed black;" />
                        <div class="" >
                            <div *ngIf="tableOrder?.status == 'waitingFood'" class="" style="display: flex;justify-content: center;margin-left: 10rem;margin-right: 10rem;">
                                <input type="text" placeholder="กรอกรหัสโปรโมชั่น" [(ngModel)]="promotionId" style="text-transform:uppercase">
                                <button type="button" (click)="usePromotion()" class="btn btn-primary btn-center ml-0">ยืนยัน</button>
                            </div>
                        </div>
                        <div *ngIf="promotion != null && promotion != undefined" class="promotion">
                            <span>{{promotion.promotion_name}}</span><span class="cancel" (click)="romovePromotion()">&times;</span>
                        </div>
                        <hr style="border: 1px dashed black;" />
                    </div>
                    <div class="mt-4">
                        <button *ngIf="tableOrder?.status == 'waitingFood'" type="button" class="btn btn-primary btn-center" data-toggle="modal" data-target="#exampleModal">ชำระเงิน</button>
                        <button *ngIf="tableOrder?.status == 'payOnline' || tableOrder?.status == 'payOnsite'" type="button" disabled class="btn btn-warning btn-center">กำลังรอพนักงาน</button>
                    </div>
                    <div class="mt-4"><span>---- หรือ ----</span></div>
                    <div class="">
                        <button *ngIf="tableOrder?.status != 'success'" (click)="callService()" type="button" class="mt-4 material-icons btn btn-primary btn-center">notifications_none เรียกพนักงาน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal ชำระเงิน-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">การชำระเงิน</h1>
                <button type="button" #closeModalSelectPay class="close" hidden="true" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-5">
                <h2 class="text-center ">เลือกวิธีชำระเงิน</h2>
                <button type="button" (click)="handlePayment('payOnline')" class="btn btn-warning btn-pay mb-3">แบบโอนจ่าย</button>
                <button type="button" (click)="handlePayment('payOnsite')" class="btn btn-warning btn-pay mb-3">แบบเงินสด</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
