<div class="row mt-4 mb-4">
    <div class="col">
        <div class="input-group w-300px">
            <input class="form-control w-200px" type="text" placeholder="ค้นหา">
            <button class="btn btn-outline-secondary">ประเภท</button>
        </div>
    </div>
    <div class="col float-right">
        <button class="btn btn-outline-success float-right">เพิ่มรายการอาหาร</button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4">
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/salad.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/salad.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/yum.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/salad.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/salad.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
    <div class="col col-image mb-4">
        <div class="card h-60">
            <img src="../../../assets/image/download.jpeg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h2 class="card-title">สลัดผัก</h2>
                <p class="card-text">ราคา: 120$</p>
                <p class="card-text">ประเภท: อาหารเพื่อสุขภาพ</p>
                <button type="button" class="btn btn-secondary">แก้ไข</button>
            </div>
        </div>
    </div>
</div>