<div class="mt-4 mb-2">
    <div class="row">
        <div class="col">
            <span class="head">จัดการโต๊ะอาหาร</span>
        </div>
        <div class="col mr-0">
            <button type="button" data-target="#createTable" data-toggle="modal" class="btn btn-outline-success mt-0 mb-2 float-right">
                    <div class="form-inline">
                    <div class="material-icons">add</div>
                    <div class="">เพิ่มโต๊ะอาหาร</div>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">โต๊ะที่</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">เวลาที่เริ่ม</th>
                    <th scope="col">เวลาที่หมด</th>
                    <th scope="col">จัดการ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of formShowTable">
                    <td>{{data.table_NO}}</td>
                    <td *ngIf="data.status == 'empty'">โต๊ะว่าง</td>
                    <td *ngIf="data.status == 'befull'">ไม่ว่าง</td>
                    <td>{{data.startTime | date:'HH:mm:ss'}}</td>
                    <td>{{data.endTime | date:'HH:mm:ss'}}</td>
                    <td></td>
                    <td>
                        <button *ngIf="data.status=='empty'" type="button" class="btn btn-success" (click)="selectTable(data.table_id)" data-target="#openTable" data-toggle="modal">สร้างคิวอาร์โคด</button>
                        <button *ngIf="data.status=='befull'" type="button" class="btn btn-primary" (click)="handleCreateQRcode(data.table_id)" data-target="#createQrcode" data-toggle="modal">พิมพ์คิวอาร์โคด</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- เพิ่มโต๊ะ -->
<div class="modal fade" id="createTable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" #closebuttonCreateTable class="close" hidden="true" data-dismiss="modal">&times;</button>
                <h2 class="modal-title mt-2">กรอกรายละเอียด</h2>
            </div>
            <div class="modal-body mt-2">
                <form [formGroup]="formCreateTable">
                    <div class="form-group">
                        <label>หมายเลขโต๊ะ</label>
                        <input type="text" class="form-control" formControlName="table_NO">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">ยกเลิก</button>
                <button type="button" (click)="createTable()" class="btn btn-success">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createQrcode" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <button type="button" #closebuttonCreateTable class="close" hidden="true" data-dismiss="modal">&times;</button>
            <div class="modal-body mt-2 m-auto" style="width: 20rem;" id="print-section">
                <div class="test">
                    <h1 class="modal-title mt-2">โต๊ะ {{currentTable?.table_NO}}</h1>
                    <span>เริ่ม 09/02/2565 10:30 - 12:00</span>
                    <ngx-qrcode
                        [elementType]="elementType"
                        [errorCorrectionLevel]="correctionLevel"
                        [value]="pathQRcode+currentTable?.table_NO">
                    </ngx-qrcode>
                    <span class="">สลิป QR code สำหรับสั่งอาหารของโต๊ะ ท่านสามารถใช้ Smartphone ในการสแกน QR code นี้ได้ผ่าน Application สำหรับอ่าน QR code หรือเปิด Application LINE เข้าหน้าจอเพิ่มเพื่อนด้วย QR code และสแกน QR code ได้ทันที</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">ยกเลิก</button>
                <button styleSheetFile="assets/css/slipQrcode.css" printSectionId="print-section" class="btn btn-success" ngxPrint>พิมพ์</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openTable" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <button type="button" #closebuttonOpenTable class="close" hidden="true" data-dismiss="modal">&times;</button>
            <div class="modal-body mt-2 m-auto" style="width: 20rem;" id="print-section">
                <label for=""><h3>ระบุจำนวนลูกค้า</h3></label>
                <input type="number" class="form-control" [(ngModel)]="numberCustomer">
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">ยกเลิก</button>
                <button type="button" class="btn btn-success" (click)="generateQrcode()">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>