<!-- <div class="row" style="margin-bottom: 15px;">
    <div class="col md-3">
        <input type="file" #file placeholder="choos file" (change)="uploadFile(file.files)" style="display: none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col md-4">
        <span class="upload" *ngIf="progress > 0">{{progress}}%</span>
    </div>
    <div class="col md-4">
        <span class="upload" *ngIf="message">{{message}}</span>
    </div>
</div>

<button type="button" class="btn btn-success" (onUploadFinished)="uploadFinished($event)">ok</button>
<br> -->
<!-- <img *ngIf="pathImg != null" [src]="(createImgPath(pathImg.dbPath))" alt="food" style="height: 100px;width: 100px;"> -->