<div class="row mt-3">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="pi pi-calendar" style="font-size: 3rem; color: rgb(214, 214, 214);"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Earnings (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="pi pi-dollar" style="font-size: 3rem; color: rgb(214, 214, 214);"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tasks Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Pending Requests</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="pi pi-comments" style="font-size: 3rem; color: rgb(214, 214, 214);"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row row-bar-doughnut">
    <div class="col-6">
        <div class="card card-bar">
            <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-doughnut">
            <div class="card-header">
                <div class="text-title">บิล</div>
                <button class="btn btn-success">ดูเพิ่มเติม</button>
            </div>
            <div class="row">
                <div class="col-4 text-center all-bill">
                    <div class="text-title">ทั้งหมด</div>
                    <div class="text-title">100 บิล</div>
                    <p-chart type="doughnut" [data]="datapie" [options]="chartOptionspie"></p-chart>
                </div>
                <div class="col detail-bill">
                    <div class="text-center">
                        <div class="text-title"><i class="pi pi-circle-fill" style="color:#36A2EB"></i> สำเร็จ</div>
                        <div class="text-title">90 บิล</div>
                        <div class="text-title">72,000 บาท</div>
                    </div>
                    <div class="text-center">
                        <div class="text-title"><i class="pi pi-circle-fill" style="color: #FF6384"></i> ไม่สำเร็จ</div>
                        <div class="text-title">10 บิล</div>
                        <div class="text-title">2,000 บาท</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <div class="card card-pie">
            <div class="card-header">
                <div class="text-title">ประเภทขายดี</div>
                <button class="btn btn-success">ดูเพิ่มเติม</button>
            </div>
            <div class="row">
                <div class="col-4 text-center all-bill">
                    <div class="text-title">ทั้งหมด</div>
                    <div class="text-title">{{besttype.length}} รายการ</div>
                    <p-chart type="pie" [data]="doughtnutType" [options]="optionsdoughtnutType"></p-chart>
                </div>
                <div class="col mt-auto mb-auto">
                    <div class="text-left" *ngFor="let item of besttype">
                        <div class="text-menu"><i class="pi pi-circle-fill" [ngStyle]="{'color': item.color}"></i> {{item.name}} คิดเป็น {{item.rate}}% มูลค่า {{item.totalPrice}} บาท</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-pie">
            <div class="card-header">
                <div class="text-title">เมนูอาหารขายดี</div>
                <button class="btn btn-success">ดูเพิ่มเติม</button>
            </div>
            <div class="row">
                <div class="col-4 text-center all-bill">
                    <div class="text-title">ทั้งหมด</div>
                    <div class="text-title">{{bestfood.length}} รายการ</div>
                    <p-chart type="pie" [data]="doughtnutFood" [options]="optionsdoughtnutFood"></p-chart>
                </div>
                <div class="col mt-auto mb-auto">
                    <div class="text-left" *ngFor="let item of bestfood">
                        <div class="text-menu"><i class="pi pi-circle-fill" [ngStyle]="{'color': item.color}"></i> {{item.name}} คิดเป็น {{item.rate}}% มูลค่า {{item.totalPrice}} บาท</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>