<div class="mt-4">
    <div class="row">
        <div class="col">
            <span class="head">จัดการพนักงาน</span>
        </div>
        <div class="col mr-0">
        </div>
    </div>
</div>

<div class="row mt-4 mb-4">
    <div class="col">
        <div class="input-group w-300px">
            <input class="form-control w-200px" type="text" [(ngModel)]="searchText" placeholder="ค้นหา">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ตำแหน่ง
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item" (click)="checkPositionFilter('chef')">พ่อครัว</div>
                    <div class="dropdown-item" (click)="checkPositionFilter('serve')">พนักงานเสิร์ฟ</div>
                    <div class="dropdown-item" (click)="checkPositionFilter('cashier')">แคชเชียร์</div>
                    <div class="dropdown-item" (click)="checkPositionFilter('manager')">ผู้จัดการ</div>
                    <div class="dropdown-item" (click)="checkPositionFilter('')">ทั้งหมด</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col float-right">
        <button type="button" class="btn btn-outline-success float-right" data-toggle="modal" data-target="#createEmployee">เพิ่มพนักงาน</button>
    </div>
</div>

<table class="table table-light text-center">
    <thead>
        <tr>
            <th scope="col">รหัสประจำตัว</th>
            <th scope="col">ชื่อ-นามสกุล</th>
            <th scope="col">รหัสผ่าน</th>
            <th scope="col">เบอร์โทร</th>
            <th scope="col">ตำแหน่ง</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employeeFromApi | filter: searchText || searchPosition">
            <td>{{data.emp_Id}}</td>
            <td>{{data.emp_Name}}</td>
            <td>{{data.password}}</td>
            <td>{{data.emp_Tel}}</td>
            <td *ngIf="data.position == 'chef'">พ่อครัว</td>
            <td *ngIf="data.position == 'serve'">พนักงานเสิร์ฟ</td>
            <td *ngIf="data.position == 'cashier'">แคชเชียร์</td>
            <td *ngIf="data.position == 'manager'">ผู้จัดการ</td>
            <td>
                <div class="material-icons" data-toggle="modal" data-target="#editEmployee" type="button" (click)="GetEmpById(data.emp_Id)">edit</div>
            </td>
        </tr>
    </tbody>
</table>


<!-- เพิ่มพนักงาน -->
<div class="modal fade" id="createEmployee" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" #closebuttonCreateEmployee class="close" hidden="true" data-dismiss="modal">&times;</button>
                <h2 class="modal-title mt-2">กรอกรายละเอียด</h2>
            </div>
            <div class="modal-body mt-2">
                <form [formGroup]="formCreateEmployee">
                    <div class="form-group">
                        <label>ชื่อพนักงาน</label>
                        <input type="text" class="form-control" formControlName="emp_Name" [ngClass]="{'is-invalid': submitCreate && formValidCreate.emp_Name.errors}">
                        <div class="invalid-feedback" *ngIf="submitCreate && formValidCreate.emp_Name.errors">
                            <div *ngIf="formValidCreate.emp_Name.errors.required">กรุณากรอกชื่อพนักงาน</div>
                            <div *ngIf="formValidCreate.emp_Name.errors.pattern">กรอกเฉพาะตัวอักษร</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>รหัสผ่าน</label>
                        <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitCreate && formValidCreate.password.errors}">
                        <div class="invalid-feedback" *ngIf="submitCreate && formValidCreate.password.errors">
                            <div *ngIf="formValidCreate.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                            <div *ngIf="formValidCreate.password.errors.minlength">อย่างน้อย 8 ตัว</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทร</label>
                        <input type="text" class="form-control" formControlName="emp_Tel" [ngClass]="{'is-invalid': submitCreate && formValidCreate.emp_Tel.errors}">
                        <div class="invalid-feedback" *ngIf="submitCreate && formValidCreate.emp_Tel.errors">
                            <div *ngIf="formValidCreate.emp_Tel.errors.required">กรุณากรอกเบอร์โทร</div>
                            <div *ngIf="formValidCreate.emp_Tel.errors.pattern">กรอกเฉพาะตัวเลข</div>
                            <div *ngIf="formValidCreate.emp_Tel.errors.maxlength">ไม่เกิน 10 ตัว</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position">ตำแหน่ง</label>
                        <select class="form-control" formControlName="position" [ngClass]="{'is-invalid': submitCreate && formValidCreate.position.errors}">
                            <option [ngValue]="null" [disabled]="true" selected>เลือกตำแหน่ง</option>
                            <option value="chef">พ่อครัว</option>
                            <option value="serve">พนักงานเสิร์ฟ</option>
                            <option value="cashier">แคชเชียร์</option>
                            <option value="manager">ผู้จัดการ</option>
                            <div class="invalid-feedback" *ngIf="submitCreate && formValidCreate.position.errors">
                                <div *ngIf="formValidCreate.position.errors.required">กรุณาเลือกตำแหน่ง</div>
                            </div>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="createEmployee()" class="btn btn-success">ยืนยัน</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<!-- แก้ไขพนักงาน -->
<div class="modal fade" id="editEmployee" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" #closebuttonEditEmployee class="close" hidden="true" data-dismiss="modal">&times;</button>
                <h2 class="modal-title mt-2">แก้ไขรายละเอียด</h2>
            </div>
            <div class="modal-body mt-2">
                <form [formGroup]="formEditEmployee">
                    <div class="form-group">
                        <label>ชื่อพนักงาน</label>
                        <input type="text" class="form-control" formControlName="emp_Name" [ngClass]="{'is-invalid': submitEdit && formValidEdit.emp_Name.errors}">
                        <div class="invalid-feedback" *ngIf="submitEdit && formValidEdit.emp_Name.errors">
                            <div *ngIf="formValidEdit.emp_Name.errors.required">กรุณากรอกชื่อพนักงาน</div>
                            <div *ngIf="formValidEdit.emp_Name.errors.pattern">กรอกเฉพาะตัวอักษร</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>รหัสผ่าน</label>
                        <input type="text" class="form-control" formControlName="password" [ngClass]="{'is-invalid': submitEdit && formValidEdit.password.errors}">
                        <div class="invalid-feedback" *ngIf="submitEdit && formValidEdit.password.errors">
                            <div *ngIf="formValidEdit.password.errors.required">กรุณากรอกรหัสผ่าน</div>
                            <div *ngIf="formValidEdit.password.errors.minlength">อย่างน้อย 8 ตัว</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทร</label>
                        <input type="text" class="form-control" formControlName="emp_Tel" [ngClass]="{'is-invalid': submitEdit && formValidEdit.emp_Tel.errors}">
                        <div class="invalid-feedback" *ngIf="submitEdit && formValidEdit.emp_Tel.errors">
                            <div *ngIf="formValidEdit.emp_Tel.errors.required">กรุณากรอกเบอร์โทร</div>
                            <div *ngIf="formValidEdit.emp_Tel.errors.pattern">กรอกเฉพาะตัวเลข</div>
                            <div *ngIf="formValidEdit.emp_Tel.errors.maxlength">ไม่เกิน 10 ตัว</div>
                            <div *ngIf="formValidEdit.emp_Tel.errors.minlength">มากกว่า 8 ตัว</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position">ตำแหน่ง</label>
                        <select class="form-control" formControlName="position" [ngClass]="{'is-invalid': submitEdit && formValidEdit.position.errors}">
                            <option [ngValue]="null" [disabled]="true" selected>เลือกตำแหน่ง</option>
                            <option value="chef">พ่อครัว</option>
                            <option value="serve">พนักงานเสิร์ฟ</option>
                            <option value="cashier">แคชเชียร์</option>
                            <option value="manager">ผู้จัดการ</option>
                            <div class="invalid-feedback" *ngIf="submitEdit && formValidEdit.position.errors">
                                <div *ngIf="formValidEdit.position.errors.required">กรุณาเลือกตำแหน่ง</div>
                            </div>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col float-left pl-0">
                    <button type="button" class="btn btn-outline-danger text-left" (click)="deleteEmployee(formEditEmployee.value.emp_Id)">ลบบัญชีผู้ใช้งาน</button>
                </div>
                <button class="col" type="button" (click)="editEmployee()" class="btn btn-success">ยืนยัน</button>
                <button class="col" type="button" data-dismiss="modal" class="btn btn-danger">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
